<div class="modal-overlay" (click)="onOverlayClick($event)">
  <form class="modal" (ngSubmit)="onSubmit()">
    <h2>Adding Task</h2>

    <label>
      <span>Title</span>
      <input
        name="title"
        type="text"
        placeholder="Enter title..."
        [(ngModel)]="title"
      />
    </label>

    <label>
      <span>Summary</span>
      <input
        name="summary"
        type="text"
        placeholder="Enter summary..."
        [(ngModel)]="summary"
      />
    </label>

    <label>
      <span>Due Date</span>
      <input name="dueDate" type="date" [(ngModel)]="dueDate" />
    </label>

    <div class="buttons">
      <button>Add Task</button>
      <button type="button" (click)="onClose()">Close</button>
    </div>
  </form>
</div>
